@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  color: #2a3748;
}

.btn:focus {
  box-shadow: none;
}
.carousel-caption {
  top: 35%;
  left: 5%;
  bottom: auto;
}

.navbar-brand {
  opacity: 1;
  color: #272727;
  text-align: center;
}
.navbar-brand span,
#header h1 span,
.footerBrand span {
  color: #5252ce;
}

.nav-item {
  opacity: 1;
  color: #2a3748;

  text-align: left;
}
.nav-item .nav-link:hover {
  color: #5252ce !important;
  transition: all 0.5s;
  font-weight: bold;
  text-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.my-bg {
  background-color: #f5f6fc;
}
.my-btn {
  box-shadow: 0 1px #3f3f94;
  background-color: #5252ce !important;
  color: #ffffff !important;
  font-size: 20px !important;
}

.my-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);

  color: white;
}
.my-btn-2 {
  box-shadow: 0 3px #3f3f94;
  background-color: white !important;
  color: #5252ce !important;
  border-color: #5252ce !important;
}
.my-btn-2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);

  color: #5252ce;
}
.btn-xl {
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 10px;
  outline: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #2a3748;
}
#header {
  background-image: url(https://i.ibb.co/X5rrYcv/Group-93.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 600px, 400px;
  height: 400px;
}
#header h1 {
  font-size: 50px;
  opacity: 1;
  color: #272727;
}
#header p {
  font-size: 24px;
  opacity: 1;
  color: #272727;
}
#counts {
  background-image: url(https://i.ibb.co/nLLmqsT/Group-94.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 250px;
  font-weight: bolder;
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
ul {
  list-style: none;
}
.list li::before {
  content: "• ";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  color: #5252ce;
}
.card {
  background-color: #f8f9fb;
}
.card:hover {
  /* opacity: 0.3; */
  background: #ffffff;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
}
.my-btn-3 {
  font-size: 50px;
  color: #5252ce;
  position: absolute;
  top: 85%;
  left: 30%;
  pointer-events: auto;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.my-btn-3,
.my-btn-6:focus {
  outline: 0;
  box-shadow: none !important;
}
.my-btn-4 {
  box-shadow: 0 1px #3f3f94;
  background-color: transparent;
  color: white;
  border-color: white;
}
.my-btn-4:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}
.my-btn-5 {
  background-size: cover;
  width: 40px;
  height: 40px;
  pointer-events: auto;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.my-btn-5:hover {
  background-color: #c8c8e4;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.my-btn-6 {
  font-size: 50px;
  color: #5252ce;

  pointer-events: auto;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.footer {
  font-size: 17px;
}
.send-btn {
  box-shadow: 0 1px #3f3f94;
  background-color: #5252ce;
  color: white;
  border-radius: 10px;
  left: -10px;
}

.card-body a:hover {
  color: #5252ce;
}
#ourstory {
  color: #5252ce;
}
